.header_container {
    height: 708px;
    width: 100vw;
}

.header_container_logo{
    height: 78px;
    width: 78px;
}

a:focus, a:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

a {
  -webkit-tap-highlight-color: transparent;
}
